.AquaContainer {
    width: 95%;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 13% 12% 10% 15% 15% 12% 23%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 4px 1px;
}

.ItemContainer {

    display: grid;
    grid-template-columns: 13% 12% 10% 15% 15% 12% ;
    grid-column-start: 1;
    grid-column-end: 8;
    margin-top: 10px;
    border-bottom: 1px solid black;


}
.ItemContainer2{
    display: grid;
    grid-template-columns: 17% 18% 12% 18% 18% 18% ;
    grid-column-start: 1;
    grid-column-end: 7;
}
.HeadContainer {
    grid-column-start: 1;
    grid-column-end: 8;
    display: grid;
    grid-template-columns: 13% 12% 10% 15% 15% 12% 23%;
    border-bottom: 1px solid black;
    height: 30px;
    background-color: lightblue;
    font-family: 'Inter';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;

}

.BtnContainer {
    display: grid;
    grid-template-columns: 50% 50%;


}

.BackBtn {
    width: 200px;
    margin-left: 7.5%;
    margin-top: 20px;
    border: none;
    border-radius: 0;
    height: 30px;
    font-size: 18px;
    cursor: pointer;
    background-color: white;
    box-shadow: 0 0 4px 1px;

}

.Head1, .AquaFoto, .AquaFotoInput {
    grid-column-start: 1;
    grid-column-end: 2;
    width: 60px;
    height: 60px;
    margin-left: 5px;

}
.file_input{
    position: relative;
    width: 150px;
    height: 24px;
    border: 1px solid black;
    overflow: hidden;
    justify-items: center;
    cursor: pointer;
}
.file_input input[type="file"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
.file_input label {
    display: block;
    padding: 3px;
    background-color: #fff;
    color: #000;
    text-align: center;
  }
.AquaFotoInput{
    background-color: white;
    height: 24px;
    width:100%;
}
.Head2, .Para1, .Input1 {
    grid-column-start: 2;
    grid-column-end: 3;

}

.Head3, .Para2, .Input2{
    grid-column-start: 3;
    grid-column-end: 4;

}

.Head4, .Size {
    grid-column-start: 4;
    grid-column-end: 5;

}

.Head5, .Para3, .Input3 {
    grid-column-start: 5;
    grid-column-end: 6;

}

.Head6, .Para4, .Input4 {
    grid-column-start: 6;
    grid-column-end: 7;

}

.Head7, .BtnContainer {
    grid-column-start: 7;
    grid-column-end: 8;

}

.MoreInfoBtn, .MoreBtn, .EditBtn, .DeleteBtn {
    border-radius: 0;
    border: none;
    margin-top: 4px;
    height: 20px;
    cursor: pointer;
    color: rgb(27, 27, 27);
    font-weight: bold;
    width: 90px;
    background-color: white;
    box-shadow: 0 0 2px 1px;
    margin-left: 2px;
}

.EditBtn, .DeleteBtn {
    width: 90px;
}

.MoreInfoBtn {
    grid-column-start: 1;
    grid-column-end: 2;
}

.MoreBtn {
    grid-column-start: 2;
    grid-column-end: 3;

}

.EditBtn {
    grid-column-start: 1;
    grid-column-end: 2;

}

.DeleteBtn {
    grid-column-start: 2;
    grid-column-end: 3;

}

.MoreLink {
    text-decoration: none;
    color: #000000;
    display: block;
    width: 100%;
    height: 100%;
}

.Link {
    display: block;
    width: 100%;
    height: 100%;
    color: #000000;
    text-decoration: none;
}

.Head {
    display: none;
}
.Input1, .Input2, .Input3, .Input4{
    height: 24px;
    width:80%;
}

@media(max-width:800px) {
    .AquaContainer {
        width: 100vw;
        display: flex;
        flex-direction: column;

    }

    .ItemContainer, .ItemContainer2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-bottom: 10px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .Head {
        display: block;
        grid-column-start: 1;
        grid-column-end: 2;
        margin-bottom: 5px;
    }

    .HeadContainer {
        display: none;

    }

    .BtnContainer {
     grid-column-start:1;
     grid-column-end: 3;

    }
    .SizeContainer{
        margin-bottom: 5px;
        
    }
    .Size{
        display: flex;
        flex-direction: column;
    }
    .SizeParagraph, .SizeInput{
        margin-right: 5px;
    }
.Para1, .Para2, .Para3, .Para4, .Input1, .Input2, .Input3, .Input4{
    grid-column-start: 1;
    grid-column-end: 2;
    margin-bottom:5px;
}
.SizeContainer{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 6;
    margin-bottom:5px;
}

}