* {
    margin: 0;
    padding: 0;
}

.MainWindow {
    position: absolute;
    background: url("../Assets/bg.jpg") no-repeat center center;
   background-size: 100% 100%;
    width: 100%;
    min-height: 630px;
    height: 100%;
    overflow: hidden;
}

.NavBar {
    position: absolute;
    display: flex;
    width: 100%;
    height: 70px;
    background: rgba(0, 0, 0, 0.49)
}

.NavHome {
    position: absolute;
    left: 15px;
    top: 7px;
}

.MainContainer {
    width: 100%;
    position: absolute;
    top: 70px;
}

.Icon {
    height: 63px;
}

.Register, .LogIn {
    margin-top: 0;
    background: rgba(0, 0, 0, 0);
    position: absolute;
    right: 0;
    height: 70px;
    width: 170px;
    top: 0px;
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    align-items: center;
    text-align: center;
    cursor: pointer;
    color: #FFFFFF;
}

.LogIn {
    right: 170px;
}

.LogIn:hover, .Register:hover {
    background: rgba(0, 0, 0, 0.49);
    font-size: 26px;
}

.InfoContainer {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 900px;
    height: 396px;
    margin-left: auto;
    margin-right: auto;
    top: 174px;

    background: rgba(0, 0, 0, 0.4);
}

.InfoText {
    margin-top: 40px;
    margin-left: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 38px;
    display: flex;
    text-align: justify;
    color: #FFFFFF;
}


.TalkFishFoto {
    top: 80px;
    display: block;
    position: relative;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}

.InfoText, .TalkFish {
    width: 50%;
    height: 100%;
}

.FishFoto {
    border-radius: 180px;
    position: absolute;
    width: 242px;
    height: 242px;
    left: -60px;
    bottom: -70px;

}

@media(max-width:900px) {
    .MainWindow {
        width: 100%;
        height: 100%;
    }

    .NavHome {
        left: 0;
        top: 7px;
    }

    .InfoContainer {
        width: 95%;
    }

    .NavBar {
        width: 100%;
    }

    .LogIn, .Register {
        font-size: 16px;
        max-width: 33%;
    }

    .LogIn {
        right: 33%;
    }

    .LogIn:hover, .Register:hover {
        font-size: 18px;
    }

    .FishFoto {
        visibility: hidden;
    }
    .InfoText{
        font-size: 16px;
        width: 90%;
        height:50%;
        margin-top:3px;
    }
    .TalkFish{
        width: 90%;
    }
    .InfoContainer{
        flex-direction: column;
    }
}