.NewAquaContainer, .NewFishContainer, .NewPlantsContainer, .NewEquipContainer, .NewBaseContainer, .NewFertContainer {
    position: relative;
    width: 475px;
    height: 550px;
    top: 48px;
    margin-left: auto;
    margin-right: auto;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 3px 0px
}

.NewFishContainer, .NewPlantsContainer, .NewBaseContainer, .NewFertContainer {
    min-height: 300px;
    height: auto;
}
.NewEquipContainer{
    height:500px
}
.NewAquaForm {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
}

.NewAquaFormLabel {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #303030;

    opacity: 0.7;
}

.NewAquaFormInput {
    background: #FCFCFC;
    border: 1px solid #7F7F7F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 25px;
    margin-bottom: 10px;

}
textarea{
    max-width: 100%;
    height: 40px;
}
input:focus {
    outline: none;
}

.SizeContainer {
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.SizeLegend {
    grid-column-start: 1;
    grid-column-end: 4;
}

.NewAquaSize {
    background: #FCFCFC;
    border: 1px solid #7F7F7F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 25px;
    margin-bottom: 20px;
    width: 100px;
}

.NewAquaFormBtn {
    width: 100%;
    height: 35px;
    background: #2490CC;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;
    justify-self: center;
    cursor: pointer;
}

.AquaTypeContainer {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: 10px;
    box-shadow: 0px 0px 4px 1px;
}

.TypeLegend {
    grid-column-start: 1;
    grid-column-end: 3;
    margin-bottom: 10px;
}

.NewAquaType {
    margin-left: 10px;
    cursor: pointer;
}

.RadioContainer {
    display: flex;

}

.Save, .Back {
    height: 25px;
    border-radius: none;
    background-color: #2490CC;
    border: none;
    font-size: 18px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    color: #ffffff;
    cursor: pointer;

}

.NewAquaFoto {
    width: 300px;
    margin-bottom: 15px;
    margin-top: 7px;
    outline: none;

}

.Avatar {
    width: 36px;
    height: 36px;
    margin-left: 40px;
}

.BtnContainer {
    width: 100%;
    display: grid;
    grid-template-columns: 40% 10% 40%;

}

.Save {
    grid-column-start: 3;
    grid-column-end: 4;
}

.Back {
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: rgb(250, 90, 90);
}

.BackBtn {
    color: #000000;
    display: block;
    width: 200px;
    height: 25px;
    background-color: rgb(250, 90, 90);
    text-align: center;
    font-size: 18px;
    color: #000000;
    font-weight: bold;
    text-decoration: none;
}

.BackLink {
    text-decoration: none;
    color: #ffffff;
    display: block;
    width: 100%;
    height: 100%;

}

.LabelContainer {
    display: grid;
    grid-template-columns: 150px 20px 70px;
    width: 200px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.QuantityLabel {
    grid-column-start: 3;
    grid-column-end: 4
}

.NameInput {
    background: #FCFCFC;
    border: 1px solid #7F7F7F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 150px;
    height: 25px;
    margin-bottom: 10px;

}

.NumberInput {
    background: #FCFCFC;
    border: 1px solid #7F7F7F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 50px;
    height: 25px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 10px;
}

.Deletebtn {
    background-color: #ffffff;
    border: none;
    height: 27px;
    cursor: pointer;
}

.PlusBtn {
    background-color: #ffffff;
    border: none;
    box-shadow: 0px 0px 3px 1px;
    width: 50px;
    margin-bottom: 15px;
    cursor: pointer;
}

.BackBtn {
    margin-bottom: 10px;
}
@media(max-width:500px){
    .NewAquaContainer, .NewFishContainer, .NewPlantsContainer, .NewEquipContainer, .NewBaseContainer, .NewFertContainer {
        width: 100vw
    }
}